#AT3Toolbar {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  height: 36px;
  border: 1px solid #D7D7D7;
}

.AT3ToolbarBtn {
  cursor: pointer;
  height: 36px;
  display: inline;
  position: relative;

  font-weight: bold;
  color: #676767;

  background-image: linear-gradient(to bottom, #FBFBFB 0px, #FBFBFB 0px, #F4F4F4 100%);
  border: none;
}

.AT3ToolbarBtn:hover, .AT3ToolbarBtn:active {
  background-image: linear-gradient(to bottom, #ffffff 0px, #ffffff 0px, #f9f9f9 100%);
}
